## java specific
*.class
*/bin/

## generic files to ignore
*~
*.lock
*.swp
*.out

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


## Thumbnails
._*

## Files that might appear on external disk
.Spotlight-V100
.Trashes

## Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
report/backup/writ_rpt_acc_bysender.jrxml
backup/finance_frm_receipt.jrxml
backup/finance_rpt_recp_recptype_test.jrxml
backup/finance_rpt_recp_recptype_test2.jrxml
backup/proceed_rpt_appoint_continuous.jrxml
backup/images/counterservice_7-11.jpg
backup/images/court_logo.png
backup/images/Garuda.jpg
backup/images/krungthai_011.png
backup/images/krungthai_02.png
backup/images/logo-krungthai.png
backup/images/peakka.jpg
backup/images/ครุฑ.png
backup/images/ตราครุฑ.jpg
JasperServer210-1/reports/finance_frm_payinslip/counterservice_7_11.jpg
JasperServer210-1/reports/finance_frm_payinslip/court_logo.png
JasperServer210-1/reports/finance_frm_payinslip/krungthai_02.png
JasperServer210-1/reports/finance_frm_payinslip/main_jrxml
JasperServer229-1/reports/finance_frm_payinslip/counterservice_7_11.jpg
JasperServer229-1/reports/finance_frm_payinslip/court_logo.png
JasperServer229-1/reports/finance_frm_payinslip/krungthai_02.png
JasperServer229-1/reports/finance_frm_payinslip/main_jrxml
JasperServer229-1/reports/finance_frm_payorder_fine/%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B8%84%E0%B8%A3_%E0%B8%91.jpg
JasperServer229-1/reports/finance_frm_payorder_fine/main_jrxml
JasperServer229-1/reports/finance_frm_payorder_fine/peakka.jpg
JasperServer229-1/reports/finance_frm_payorder_fine/ตราคร_ฑ.jpg
report/issue_count.csv
report/litigant_rpt_payrecv_bycase_old.jrxml
report/proceed_rpt_appoint_continuous_test.jrxml
report/praxis/CaseStatQuantitative.jrxml
report/praxis/_zip/CaseStatQuantitative.zip
report/search_pattern_in_file/court_level_name.csv
report/search_pattern_in_file/list_value.csv
report/statistics/backup/JudgesRE-2.jasper
report/statistics/backup/JudgesRE-2.jrxml
report/statistics/backup/JudgesRE-3.jasper
report/statistics/backup/JudgesRE-3.jrxml
report/statistics/backup/JudgesRE-4.jasper
report/statistics/backup/JudgesRE-4.jrxml
report/statistics/backup/m4_MonthlyCriminal.jrxml
report/statistics/backup/m4_MonthlyCriminal_new.jrxml
report/statistics/backup/m4_MonthlyCriminalTest.jrxml
report/statistics.zip
